.project-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid white;
    padding: 19px ;
    border-radius: 12px;
    height: 100%;
    width: 350px;
    margin: auto;
   
    margin-bottom: 1rem;
}
.project-card h2{
   /* color: orange; */
   font-weight: bold;
}
.heading-t{
    /* color: orange; */
    display: block;
}
.heading-t p{
    color: var(--color-dark);
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}
.button-container button{
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    /* background-color: orange; */
    color: black;
    border: none;
    outline: none;
    font-weight: 700;
    transition: var(--transition);
}
.button-container button:hover{
    background-color: white;
   

}